.container{
    background: rgb(10,137,200);
    background: linear-gradient(90deg, rgba(10,137,200,0.7651435574229692) 0%, rgba(2,0,5,1) 100%);
    display: flex;
    justify-content: space-between;
    padding:5px 40px 5px 40px;
}

.links{
  display: flex;
  gap: 20px;
}
.linkedIn{
    display: flex;
    align-items: center;
    
    
}

.SiLinkedin{
    color:#ffffff;
   
}
.github{
    
    display: flex;
    align-items: center;
   
}

.BsGithub{
    color:#ffffff;
    
}